# Configuration for EasyCarts
# Version: 2.1
# Author: Xericore

# When players stop at an intersection, show an info message to the player.
ShowIntersectionMessage: true
IntersectionMessageText: 'Look in any direction and push minecart to continue'

# Enable this if you want to remove the minecart when the player exits it.
# This should also be true if you are using CraftBook's TemporaryCart feature, which I highly recommend. 
# When the player passes an intersection, a new cart is spawned and the old one is deleted.
# The new cart also has a new id, thus CraftBook's TemporaryCart will not remove the newly created cart.
RemoveMinecartOnExit: false

# The maximum speed minecarts can have. 100 = default Minecraft max minecart speed on boosted rails.
# Note: 400 seems to be the limit, because Minecraft caps the value. Setting it to a higher value had no effect when testing on Minecraft 1.8 (Spigot).
MaxSpeedPercent: 400

# Player can push the minecart up to this speed. 100 = default Minecraft max minecart speed when pushing the cart on normal rails.
MaxPushSpeedPercent: 180

# Boosts the current speed of the minecart to this value. 
# Setting it to 100 means no boost will be applied. Setting it to 0 will stop the cart at a powered rail.
# Note that depending on how often the server executes the VehicleMoveEvent, one booster block might boost the cart multiple times.
# I could implement a mechanism to avoid that, but that would cost some performance.
# Thus I recommend to use values between 120 and 200 to get well working boosts. 
PoweredRailBoostPercent: 150

# If true, cart will slow down quicker when empty.
SlowWhenEmpty: true

# When set to false, minecarts with players in them will push monsters, animals and NPCs out of the way. 
# Collision with another player will stop the cart and not bounce it back. 
# Ensures reliable transportation, as empty minecarts blocking the way are also removed. 
# Players can still push carts at low speeds. Recommended and default setting is 'false'.
# When set to true, minecarts behave normally and will bounce off blocks and other entities.
MinecartCollisions: false

# If true, minecarts will automatically be boosted on upward slopes. Default is true.
# Ensures reliable transportation. Settings this to false will cause EasyCarts to behave more like the vanilla Minecraft.
# If false, you will need powered rails on slopes if you want to travel slopes up quickly.
# Players can still push their cart on a long upward slope, enabling them to reach the top even without booster blocks.
AutoBoostOnSlope: true

# If true, players can stop and start carts by left clicking into the air. Default is true.
StopStartOnLeftClick: true